In [ ]:
# ML Algo
# get the data
# split into input and target variables (x,y)-- independent dependent
# labelling categorical data

In [4]:
import pandas as pd
data=pd.read_csv('data//1000_Companies.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [17]:
x=data.iloc[:,[0,1,2,3]].values

y=data['Profit'].values
x

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       ...,
       [100275.47, 241926.31, 227142.82, 'California'],
       [128456.23, 321652.14, 281692.32, 'California'],
       [161181.72, 270939.86, 295442.17, 'New York']],
      shape=(1000, 4), dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,3]=le.fit_transform(x[:,3])
x

array([[165349.2, 136897.8, 471784.1, 2],
       [162597.7, 151377.59, 443898.53, 0],
       [153441.51, 101145.55, 407934.54, 1],
       ...,
       [100275.47, 241926.31, 227142.82, 0],
       [128456.23, 321652.14, 281692.32, 0],
       [161181.72, 270939.86, 295442.17, 2]],
      shape=(1000, 4), dtype=object)